:root {
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --green: #31d0aa;
  --primary-white-color: #ffffff;
  --ocean: #404bbf;
}

/* ******************************General Styles****************************** */

body {
  margin: auto;
  padding: 0;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;

  color: var(--slate);
  background-color: var(--primary-white-color);

  min-width: 320px;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.button,
.link {
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--navy-blue);
}

.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.text {
  line-height: 1.5;

  color: var(--slate);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.container .logo {
  color: var(--navy-blue);
}

.item-footer .logo {
  color: var(--cloud);
}

.prymary-brand {
  color: var(--iris);
}

.mobile-menu {
  width: 100%;
  height: 100%;
}

.close-button {
  position: absolute;
  display: block;

  width: 24px;
  height: 24px;

  padding: 7px;

  border-radius: 50px;
  line-height: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu .close-button {
  top: 40px;
  right: 40px;
}

.close-button:hover,
.close-button:focus,
.close-button:active {
  color: var(--primary-white-color);
  background-color: var(--ocean);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu {
  fill: currentColor;
}

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
}

.hero .title {
  margin: auto;
  font-weight: 700;
  text-align: center;
  color: var(--primary-white-color);
}

.hero {
  background-color: var(--navy-blue);
  width: 1440px;
}

.order-button {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  padding: 16px 32px;

  border-style: none;
  border-radius: 4px;

  background-color: var(--iris);
  color: var(--primary-white-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus,
.order-button:active {
  background-color: var(--ocean);
}

.overlay {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  opacity: 1;
  overflow-y: scroll;

  transition: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -100%);
  top: 0;
  opacity: 0;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;

  height: 579px;
  max-height: 90vh;
  overflow-y: scroll;

  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close-button {
  top: 24px;
  right: 24px;
}

.close-button:hover,
.close-button:focus,
.close-button:active {
  background-color: var(--ocean);
  border: 1px solid transparent;
  fill: var(--primary-white-color);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 1px 0px rgba(46, 47, 66, 0.16);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-title {
  margin-top: 48px;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--navy-blue);
}

.input {
  font-size: 18px;
  width: 100%;
  height: 40px;

  padding-left: 38px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;

  transition: border-color rgba(33, 33, 33, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field {
  position: relative;
  display: block;
  margin-bottom: 8px;
}

.input-field:focus {
  border-color: var(--iris);
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--main-color);

  transform: translateY(-50%);
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .icon-input {
  fill: var(--iris);
}

.info-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;

  margin-bottom: 4px;
  color: var(--light-slate);
}

.input {
  font-size: 18px;
  width: 100%;
  height: 40px;

  padding-left: 38px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;

  transition: border-color rgba(33, 33, 33, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  outline: none;
  border-color: var(--iris);
}

.textarea-modal-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  resize: none;

  width: 100%;
  height: 120px;

  padding-top: 8px;
  padding-left: 16px;
  margin-bottom: 16px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
}

.textarea-modal-form:focus {
  outline-style: none;
  border-color: var(--iris);
}

.checkbox-privacy {
  justify-content: center;
  align-items: center;
}

.input-checkbox {
  display: inline;
  height: 16px;
  margin-right: 8px;
}

.label-checkbox {
  display: flex;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  margin-bottom: 24px;
  color: #757575;
}

.checkbox-icon {
  width: 16px;
  height: 16px;

  border-radius: 2px;
  background-color: var(--ocean);

  opacity: 0;
  cursor: pointer;
}

.input-checkbox:checked + .label-checkbox .checkbox-icon {
  opacity: 1;
}

.input-checkbox:checked + .label-checkbox .checkbox-icon-box {
  border: none;
}

.checkbox-icon-box {
  display: block;

  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 8px;

  border: 1.25px solid #2e2f42;
}

.input-checkbox:focus + .label-checkbox .checkbox-icon-box,
.input-checkbox:hover + .label-checkbox .checkbox-icon-box {
  border-color: var(--ocean);
}

.privacy-policy {
  font-size: inherit;
  color: var(--iris);

  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy:hover,
.privacy-policy:focus,
.privacy-policy:active {
  color: var(--iris);
}

.send-form-btn {
  align-self: center;
  line-height: 1.17;
  letter-spacing: 0.04em;

  width: 170px;
  height: 51px;
  padding: 16px 32px;

  border: none;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form-btn:hover,
.send-form-btn:focus,
.send-form-btn:active {
  background-color: var(--iris);
}

.benefits-icon {
  display: flex;
  height: 112px;

  justify-content: center;
  align-items: center;

  border-radius: 4px;
  margin-bottom: 8px;

  background-color: var(--cloud);
}

.benefits-section .list-title {
  margin-bottom: 8px;
}

.section.team-section .container {
  flex-direction: column;
}

.section.team-section {
  padding-top: 96px;
  background-color: var(--cloud);
}

.team-title {
  line-height: 1.11;
  margin-bottom: 72px;
}

.team-list .item {
  width: 264px;
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.pre-cont {
  text-align: center;
  padding: 32px 16px;
}

.list-title {
  font-size: 20px;
  line-height: 1.2;

  margin-bottom: 8px;
}

.list-title + .text {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.item-team {
  width: 40px;
  height: 40px;
}

.icon-team {
  display: inline-block;
  width: 100%;
  height: 100%;

  background: var(--iris);
  border-radius: 50%;
  fill: var(--cloud);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team:hover,
.icon-team:focus {
  background: var(--ocean);
}

.customer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-customers {
  line-height: 1.11;
  margin-bottom: 72px;
}

.item-customers {
  width: 168px;
  height: 88px;
}

.item-customers .link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  outline: none;
  border-radius: 4px;
  border: 1px solid var(--light-slate);

  fill: var(--light-slate);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    solid 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-customers .link:hover,
.item-customers .link:focus {
  border: 1px solid var(--ocean);
  border-radius: 4px;
  fill: var(--ocean);
}

.customers-icon {
  fill: currentColor;
  pointer-events: none;
}

.footer {
  background-color: var(--navy-blue);
}

.footer .container {
  display: flex;
}

.footer-wish {
  text-align: left;
  color: var(--cornflower);
}

.footer .logo {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.social-media {
  width: 208px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.social-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: var(--primary-white-color);
}

.item-social {
  width: 40px;
  height: 40px;
}

.icon-link {
  display: inline-block;
  width: 100%;
  height: 100%;

  fill: var(--cloud);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.item .icon-link:hover,
.item .icon-link:focus {
  background-color: var(--green);
}

.subscribe {
  font-weight: 500;
  line-height: 1.5;

  margin-bottom: 16px;
  color: var(--primary-white-color);
}

.email-input {
  width: 264px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  padding: 8px 0 8px 16px;

  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.button-send {
  /* display: flex;
  justify-content: center;
  align-items: center; */

  padding: 8px 24px;

  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--iris);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus,
.button-send:active {
  background-color: var(--ocean);
}

.button-text {
  color: var(--primary-white-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.06em;
  margin-right: 16px;
}

/* ******************************Mobile****************************** */

@media screen and (max-width: 768px) {
  /*____________________________________ header ____________________________________*/

  .site-nav,
  .contacts {
    display: none;
  }

  .container {
    max-width: 428px;
  }

  .header .container {
    justify-content: space-between;

    padding: 24px 16px;
  }

  /*____________________________________ menu ____________________________________*/

  .menu.button {
    background-color: transparent;
    line-height: 0;
    padding: 0;
    border: none;
  }

  .mobile-menu {
    position: fixed;
    left: 0;
    top: 0;

    z-index: 100;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;

    background-color: var(--primary-white-color);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: painted;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    position: relative;

    min-width: 428px;
    min-height: 796px;
    height: 100%;

    padding: 40px;
    margin: auto;

    background-color: var(--primary-white-color);
  }

  .mobile-menu .site-nav {
    display: block;
    margin-top: 40px;
    margin-bottom: auto;
  }

  .mobile-menu .contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 48px;
  }

  .mobile-menu .link-nav {
    display: flex;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;

    color: var(--navy-blue);
  }

  .mobile-menu .list-nav:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu .list-nav:last-child .link {
    color: var(--ocean);
  }

  .mobile-menu .contacts-link {
    display: flex;
    font-size: 36px;
    line-height: 1.1;
    color: var(--ocean);
  }

  .mobile-menu .contacts-list:last-child .link {
    font-weight: 700;
    margin-bottom: 40px;
    color: var(--iris);
  }

  .mobile-menu .contacts-list:first-child .link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    color: var(--slate);
  }

  .social-list {
    justify-content: space-between;
    max-width: 328px;
  }

  .social-list-item {
    width: 40px;
    height: 40px;
  }

  .social-list-item .link {
    display: inline-block;
    width: 100%;
    height: 100%;

    background: var(--iris);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*____________________________________ hero ____________________________________*/

  .hero {
    width: 100%;
    height: 432px;

    margin: auto;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Mobile/mobile-hero.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(rgba(46, 47, 66, 0.7)),
          to(rgba(46, 47, 66, 0.7))
        ),
        url(../images/Mobile/mobile-hero@2x.jpg);
      background-image: -o-linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Mobile/mobile-hero@2x.jpg);
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Mobile/mobile-hero@2x.jpg);
    }
  }

  .hero .title {
    max-width: 318px;
    line-height: 1.11;

    margin-bottom: 72px;
  }

  .order-button {
    margin: auto;
  }

  .modal {
    width: calc(100% - 36px);
    max-width: 392px;

    padding: 24px 16px;
  }

  /*____________________________________ benefits ____________________________________*/

  .benefits-section .container {
    padding: 16px;
  }

  .benefits-list .item:not(:last-child) {
    margin-bottom: 72px;
  }

  .benefits-list .title {
    margin-bottom: 8px;
  }

  /*____________________________________ team  ____________________________________*/

  .team-list .item {
    margin: auto;
  }

  .team-list .item:not(:last-child) {
    margin-bottom: 72px;
  }

  /*____________________________________ customers  ____________________________________*/

  .customer-list {
    flex-basis: calc((100% - 16px) / 2);
    gap: 72px 16px;
  }

  /*____________________________________ footer  ____________________________________*/

  .footer .container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .container .item-footer {
    width: 268px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }

  .email-input {
    width: 100%;
    margin-bottom: 16px;
  }
}

/* ****************************** Mobile-Tablet ****************************** */

@media screen and (max-width: 1200px) {
  .activity-section {
    display: none;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .modal {
    top: 100px;
    transform: translatex(-50%);
  }

  .benefits-icon {
    display: none;
  }
}

/* ****************************** Tablet ****************************** */

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    padding: 0;
    max-width: 768px;
  }

  .contacts-link {
    display: block;

    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }

  .contacts-list:first-child {
    padding-top: 24px;
    margin-bottom: 4px;
  }

  .contacts-list:last-child {
    padding-bottom: 10px;
  }

  .hero {
    display: block;
    margin: auto;
    width: 100%;
    height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Tablet/tablet-hero.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(rgba(46, 47, 66, 0.7)),
          to(rgba(46, 47, 66, 0.7))
        ),
        url(../images/Tablet/tablet-hero@2x.jpg);
      background-image: -o-linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Tablet/tablet-hero@2x.jpg);
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Tablet/tablet-hero@2x.jpg);
    }
  }

  .hero .title {
    margin-bottom: 40px;
  }

  .benefits-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .benefits-list .item {
    padding: 0;
    width: 356px;
  }

  .benefits-list .item:nth-child(-n + 2) {
    margin-bottom: 72px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-list .item:nth-child(-n + 2) {
    margin-bottom: 72px;
  }

  .team-list .item:nth-child(odd) {
    margin-right: 24px;
  }

  .customer-list {
    flex-basis: calc((100% - 48px) / 3);
    gap: 72px 24px;
  }

  .footer .container {
    padding: 0;
    flex-wrap: wrap;
  }

  .item-footer-first {
    margin-right: 24px;
  }

  .item-footer {
    margin-bottom: 72px;
  }

  .footer.section {
    padding-left: 108px;
    padding-right: 164px;
  }

  .email-input {
    margin-right: 24px;
  }
}

/* ****************************** Tablet-Desktop ****************************** */

@media screen and (min-width: 768px) {
  .menu.button,
  .mobile-menu .close-button,
  .mobile-menu .social-list {
    display: none;
  }

  .menu-container {
    display: flex;
    justify-content: space-between;
  }

  .header .logo {
    margin-right: 123px;
    padding: 24px 0;
  }

  .site-nav {
    display: flex;
    margin-right: auto;
  }

  .site-nav .list-nav:not(:last-child) {
    margin-right: 40px;
  }

  .link-nav {
    display: block;
    position: relative;
    color: var(--navy-blue);
    font-weight: 700;
    padding: 24px 0;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-nav:hover,
  .link-nav:focus,
  .link-nav:active {
    color: var(--ocean);
  }

  .current {
    color: var(--ocean);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current::after {
    position: absolute;
    display: block;
    content: "";

    width: 100%;
    height: 4px;
    bottom: 0;

    background-color: var(--ocean);
    border-radius: 2px;
  }

  .contacts-link {
    color: var(--navy-blue);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus,
  .contacts-link:active {
    color: var(--ocean);
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero .title {
    width: 494px;
    font-size: 56px;
    line-height: 1.07;
  }

  .modal {
    width: 408px;
    padding: 24px;
  }

  .benefits-list {
    display: flex;
  }

  .benefits-title {
    margin-bottom: 8px;
    text-align: left;
  }

  .item-footer-first {
    width: 264px;
  }
}

/* ****************************** Desktop ****************************** */

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding: 0;
  }

  .mobile-menu-container {
    align-items: center;
  }

  .container .logo {
    margin-right: 76px;
  }

  .contacts-list {
    display: inline-flex;
    line-height: 1.5;
  }

  .contacts-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .contacts-list:first-child {
    margin-right: 40px;
  }

  .hero {
    max-width: 100%;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    margin: auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/desktop-hero.jpg);
    background-size: 1440px 600px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(rgba(46, 47, 66, 0.7)),
          to(rgba(46, 47, 66, 0.7))
        ),
        url(../images/desktop/desktop-hero@2x.jpg);
      background-image: -o-linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desktop/desktop-hero@2x.jpg);
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desktop/desktop-hero@2x.jpg);
    }
  }

  .hero .title {
    margin-bottom: 48px;
  }

  .modal {
    top: 80px;
    transform: translatex(-50%);
    overflow-y: unset;
  }

  .benefits-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .benefits-list .item {
    width: 264px;
  }

  .benefits-list .item:not(:last-child) {
    margin-right: 24px;
  }

  .activity-section {
    padding-top: 0;
    padding-bottom: 120px;
  }

  .activity-section .title {
    line-height: 1.11;
    margin-bottom: 72px;
  }

  .activity-list {
    display: flex;
    flex-basis: calc((100% - 48px) / 3);
  }

  .activity-list > .item:not(:last-child) {
    margin-right: 24px;
  }

  .section.team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    display: flex;
    flex-basis: calc((100% - 72px) / 4);
  }

  .team-list > .item:not(:last-child) {
    margin-right: 24px;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section.customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .item-customers:not(:last-child) {
    margin-right: 24px;
  }

  .item-footer-first {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: auto;
  }

  .item-form {
    margin-left: 80px;
  }

  .email-input {
    margin-right: 24px;
  }
}
